---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/bensheldon/request_for_comment/pulls?access_token=FAKETOKEN&base=spec_test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="FAKETOKEN"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1389052591'
      Etag:
      - "\"bf6c6629e820101e54576140521aa2ff\""
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email,
        user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets,
        user:assets:read
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[{\"url\":\"https://api.github.com/repos/bensheldon/request_for_comment/pulls/1\",\"id\":8977786,\"html_url\":\"https://github.com/bensheldon/request_for_comment/pull/1\",\"diff_url\":\"https://github.com/bensheldon/request_for_comment/pull/1.diff\",\"patch_url\":\"https://github.com/bensheldon/request_for_comment/pull/1.patch\",\"issue_url\":\"https://github.com/bensheldon/request_for_comment/pull/1\",\"number\":1,\"state\":\"open\",\"title\":\"TEST:
        Pull Request for Specifications\",\"user\":{\"login\":\"bensheldon\",\"id\":47554,\"avatar_url\":\"https://gravatar.com/avatar/0a760b6486d32a6ca54cad49210fdf49?d=https%3A%2F%2Fidenticons.github.com%2Fea8ef8e4d485b31880a627bd3c61bb2c.png&r=x\",\"gravatar_id\":\"0a760b6486d32a6ca54cad49210fdf49\",\"url\":\"https://api.github.com/users/bensheldon\",\"html_url\":\"https://github.com/bensheldon\",\"followers_url\":\"https://api.github.com/users/bensheldon/followers\",\"following_url\":\"https://api.github.com/users/bensheldon/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/bensheldon/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/bensheldon/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/bensheldon/subscriptions\",\"organizations_url\":\"https://api.github.com/users/bensheldon/orgs\",\"repos_url\":\"https://api.github.com/users/bensheldon/repos\",\"events_url\":\"https://api.github.com/users/bensheldon/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/bensheldon/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"\",\"created_at\":\"2013-10-10T03:47:58Z\",\"updated_at\":\"2013-10-10T03:47:58Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":\"6793f3237f56326c49f34a14a23bcc6fe3d24f5c\",\"assignee\":null,\"milestone\":null,\"commits_url\":\"https://github.com/bensheldon/request_for_comment/pull/1/commits\",\"review_comments_url\":\"https://github.com/bensheldon/request_for_comment/pull/1/comments\",\"review_comment_url\":\"/repos/bensheldon/request_for_comment/pulls/comments/{number}\",\"comments_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/issues/1/comments\",\"statuses_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/statuses/8a494e2f1612fdcfa654c6569f40f3cd0f545779\",\"head\":{\"label\":\"bensheldon:spec_test\",\"ref\":\"spec_test\",\"sha\":\"8a494e2f1612fdcfa654c6569f40f3cd0f545779\",\"user\":{\"login\":\"bensheldon\",\"id\":47554,\"avatar_url\":\"https://gravatar.com/avatar/0a760b6486d32a6ca54cad49210fdf49?d=https%3A%2F%2Fidenticons.github.com%2Fea8ef8e4d485b31880a627bd3c61bb2c.png&r=x\",\"gravatar_id\":\"0a760b6486d32a6ca54cad49210fdf49\",\"url\":\"https://api.github.com/users/bensheldon\",\"html_url\":\"https://github.com/bensheldon\",\"followers_url\":\"https://api.github.com/users/bensheldon/followers\",\"following_url\":\"https://api.github.com/users/bensheldon/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/bensheldon/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/bensheldon/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/bensheldon/subscriptions\",\"organizations_url\":\"https://api.github.com/users/bensheldon/orgs\",\"repos_url\":\"https://api.github.com/users/bensheldon/repos\",\"events_url\":\"https://api.github.com/users/bensheldon/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/bensheldon/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":13460771,\"name\":\"request_for_comment\",\"full_name\":\"bensheldon/request_for_comment\",\"owner\":{\"login\":\"bensheldon\",\"id\":47554,\"avatar_url\":\"https://gravatar.com/avatar/0a760b6486d32a6ca54cad49210fdf49?d=https%3A%2F%2Fidenticons.github.com%2Fea8ef8e4d485b31880a627bd3c61bb2c.png&r=x\",\"gravatar_id\":\"0a760b6486d32a6ca54cad49210fdf49\",\"url\":\"https://api.github.com/users/bensheldon\",\"html_url\":\"https://github.com/bensheldon\",\"followers_url\":\"https://api.github.com/users/bensheldon/followers\",\"following_url\":\"https://api.github.com/users/bensheldon/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/bensheldon/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/bensheldon/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/bensheldon/subscriptions\",\"organizations_url\":\"https://api.github.com/users/bensheldon/orgs\",\"repos_url\":\"https://api.github.com/users/bensheldon/repos\",\"events_url\":\"https://api.github.com/users/bensheldon/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/bensheldon/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/bensheldon/request_for_comment\",\"description\":\"automated
        commenting on github pull requests\",\"fork\":false,\"url\":\"https://api.github.com/repos/bensheldon/request_for_comment\",\"forks_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/forks\",\"keys_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/teams\",\"hooks_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/hooks\",\"issue_events_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/events\",\"assignees_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/tags\",\"blobs_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/languages\",\"stargazers_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/stargazers\",\"contributors_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/contributors\",\"subscribers_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/subscribers\",\"subscription_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/subscription\",\"commits_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/merges\",\"archive_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/downloads\",\"issues_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/releases{/id}\",\"created_at\":\"2013-10-10T03:07:04Z\",\"updated_at\":\"2013-10-10T03:47:58Z\",\"pushed_at\":\"2013-10-10T03:47:21Z\",\"git_url\":\"git://github.com/bensheldon/request_for_comment.git\",\"ssh_url\":\"git@github.com:bensheldon/request_for_comment.git\",\"clone_url\":\"https://github.com/bensheldon/request_for_comment.git\",\"svn_url\":\"https://github.com/bensheldon/request_for_comment\",\"homepage\":null,\"size\":132,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Ruby\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":1,\"forks\":0,\"open_issues\":1,\"watchers\":0,\"default_branch\":\"master\",\"master_branch\":\"master\"}},\"base\":{\"label\":\"bensheldon:master\",\"ref\":\"master\",\"sha\":\"64f10bd16ce1872553c74a2d003ad86bcba7fc11\",\"user\":{\"login\":\"bensheldon\",\"id\":47554,\"avatar_url\":\"https://gravatar.com/avatar/0a760b6486d32a6ca54cad49210fdf49?d=https%3A%2F%2Fidenticons.github.com%2Fea8ef8e4d485b31880a627bd3c61bb2c.png&r=x\",\"gravatar_id\":\"0a760b6486d32a6ca54cad49210fdf49\",\"url\":\"https://api.github.com/users/bensheldon\",\"html_url\":\"https://github.com/bensheldon\",\"followers_url\":\"https://api.gi[...]
- request:
    method: post
    uri: https://api.github.com/repos/bensheldon/request_for_comment/issues/1/comments?access_token=FAKETOKEN
    body:
      encoding: UTF-8
      string: "{\"body\":\"my comment\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="FAKETOKEN"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1389052591'
      Etag:
      - "\"454215e602562c890b6ca4fd849e1cc4\""
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email,
        user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets,
        user:assets:read
      Location:
      - https://api.github.com/repos/bensheldon/request_for_comment/issues/comments/31697930
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"url\":\"https://api.github.com/repos/bensheldon/request_for_comment/issues/comments/31697930\",\"html_url\":\"https://github.com/bensheldon/request_for_comment/pull/1#issuecomment-31697930\",\"issue_url\":\"https://api.github.com/repos/bensheldon/request_for_comment/issues/1\",\"id\":31697930,\"user\":{\"login\"[...]
